@page
@model TaskFrontend.Pages.TasksModel
@{
    Layout = "_Layout";
}
<h1>Lista de Tareas</h1>

@if (Model.Tareas.Any())
{
    <ul>
        @foreach (var tarea in Model.Tareas)
        {
            <li>
                <strong>@tarea.Title</strong>: @tarea.Description <br />
                Estado: @(tarea.Status == 0 ? "Pendiente" : "Completada") <br />
                Asignado a: @(tarea.UserAssigned != null ? tarea.UserAssigned.Name : "Nadie") <br />
                Creado: @tarea.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss") <br />
                Actualizado: @tarea.UpdatedAt.ToString("yyyy-MM-dd HH:mm:ss")
            </li>
        }
    </ul>
}
else
{
    <p>No hay tareas disponibles.</p>
}
